/* .doubleSlit {
    height: 100vh;
    width: 100vw;
    background-color: #40c0ff;
     box-shadow: inset 100vw 0px 0px #00A1F1; 
  } */

/* .content {
    margin: 0px 100px 20px;
    background-color: #00A1F1;
} */