.beamsplitter {
    height: 100vh;
    width: 100vw;
    background-color: rgb(231, 137, 64);
}

.bcontent {
    margin: 0px 100px 20px;
    background-color: white;
    color: black;
}

.bheader {
    padding: 10px;
    text-align: center;
    background: #FE6E00;
    color: white;
    font-size: 30px;
}