.doubleSlit {
  height: 105vh;
  width: 100vw;
  background-color: #71c7ec;
  /* box-shadow: inset 100vw 0px 0px #00A1F1; */
}

.dscontent {
  margin: 0px 100px 20px;
  background-color: white;
  color: black;
}

.dsheader {
  padding: 10px;
  text-align: center;
  background: #00A1F1;
  color: white;
  font-size: 30px;
}