<<<<<<< HEAD
<<<<<<< 18c1c0cd19aae97859dde4dea07bb13837e82652
.App {
  text-align: center;
}

div {
  white-space: pre-wrap;
} 
=======
=======
>>>>>>> 07cf3effba5eee2f047074cf8ff7b79aa0c3d26f
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
<<<<<<< HEAD
>>>>>>> task complete
=======
>>>>>>> 07cf3effba5eee2f047074cf8ff7b79aa0c3d26f
